
h1, h3 {
    color: red;
    text-align: center;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

a {
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

.container-form {
  max-width: 500px;
  max-height: 800px;
  padding: 3rem;
  ;
}

.card-border {
  border-radius: 1rem solid 1px;
}


  /* bootstrap css*/
  .navbar {
    opacity: .6;
    background-color: black;
  }
  a {
    font-size:14px;
    font-weight:700
  }
  .superNav {
    font-size:13px;
    
  }
  .form-control {
    outline:none !important;
    box-shadow: none !important;
  }
  @media screen and (max-width:540px){
    .centerOnMobile {
      text-align:center
    }
  }

  /* bg image */
  #bg-image-container-1{
    position: relative;
     top: 0px;
      left: 0px;
       width: 100%; 
       height: 100%;
        overflow: hidden; 
        pointer-events: none;
         visibility: hidden; 
         z-index: -100;
  }

  #bg-image{
     background-position: 50% 50%;
     background-size: 100%;
      background-repeat: no-repeat;
       
       position: fixed;
        top: 0px;
         left: 0px; 
         width: 1349px;
          height: 899.333px;
           overflow: hidden;
            pointer-events: none;
             margin-left: 0px;
              margin-top: -321.667px;
               visibility: visible;
                transform: translate3d(0px, 109.89px, 0px);
  }
 

  .user-photo {
    width: 200px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
}

